.jumbotron {
    padding-top: 20px;
    padding-bottom: 0;
     margin-bottom: 0; 
    color: inherit;
    background-color: #fff;
}
.myName{
    font-family: 'Handlee', cursive;
}
.navbar {
    border: none;
}
.navbar-default {
    background-color: #fff;

}
.barItem{
    transition-duration: .15s;
}
.barItem:hover{
    transform: scale(1.15);
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color:#fff;

    
    

}

.line, .hoverLine{
    position: absolute;
    top:35px;
    left:10px;
    height: 5px;
    width: 75px;
    border-radius: 100%;
    background-color: lightgrey;
}
.line2{
    position: absolute;
    top:50px;
    left:23px;
    height: 5px;
    width: 50px;
    border-radius: 100%;
    background-color: lightgrey;
}
.barItem{
    color: black;
    font-weight: bold;
}
/*landing*/
#landingContainer{
    height: 500px;
    width: 85%;
    margin: 100px auto ;
    background-color: #fff;
    position: relative;
}
.headerText{
    padding-top: 50px;
    padding-left: 50px
}
#title{
    position: absolute;
    padding-top: 8px;
    border: 2px solid #515151;
    width: 250px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    top:100px;
    left:150px;
}
.nameLanding{
    width:250px;
    border-top: none;
    border-left: none;
    border-bottom: 4px solid #515151;
    border-right: 4px solid #515151;
    padding-bottom: 15px;
    border-radius: 4px;
}


.top-line{
    position: absolute;
    width:660px;
    border-top: 2px solid #515151;
    
}

td:first-of-type{

    border-right: 3px solid #515151;
    height: 400px;
    width:150px;
     

}

.upper-line{
    position: absolute;
    top: 170px;
    left: 100px;
    width: 550px;
    margin: 0 auto;
    border-top: 2px solid #515151;
}
.landing-nav-item{
    border: 2px solid #515151;
    text-align: center;
    padding:5px;
}
.landing-nav-item>a {
    color:black;

}

/*landing end*/