

.jumbotron {
    padding-top: 20px;
    padding-bottom: 0;
     margin-bottom: 0; 
    color: inherit;
    background-color: #fff;
}
.myName{
    font-family: 'Handlee', cursive;
}
.navbar {
    border: none;
}
.navbar-default {
    background-color: #fff;

}
.barItem{
    transition-duration: .15s;
}
.barItem:hover{
    transform: scale(1.15);
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color:#fff;
    

}

.line, .hoverLine{
    position: absolute;
    top:35px;
    left:10px;
    height: 5px;
    width: 75px;
    border-radius: 100%;
    background-color: lightgrey;
}
.line2{
    position: absolute;
    top:50px;
    left:23px;
    height: 5px;
    width: 50px;
    border-radius: 100%;
    background-color: lightgrey;
}
.barItem{
    color: black;
    font-weight: bold;
}

/*landing*/

.landingPanel{
    width: 400px;
    background-color: #fff;
    border:2px solid lightgrey;
    margin: 200px auto;
    border-radius: 4px;
    box-shadow: 0px 0px 8px grey;
}
.landingBlurb{
    margin: 10px;
}
.landingBg{
    background-color: gray;
    margin:0;
    height: 100px;
    width:100%;
    background-size:cover;
}
.landingItem{
    display: inline;
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgrey;
}
.landingItem>a{
    display: inline;
    color:black; 
    padding: 10px;

    
}
.landingItem>a:hover{
    text-decoration: none;
    font-weight: bold;
}
.panel-default {
     border:none;
}

/*landing end*/

/*about*/

.progress{
    background-color: lightgray;
    height: 10px;
}
.skills strong{
    text-decoration: underline;
}
.skills ul{
    padding:0;
     list-style-type: none;
}

/*about me end*/
/* contact*/
i{
    font-size: 1.5em;
}
.contactItem a{
    color:black;

}
.contactBoard{
    padding-top: 100px;
    height: 400px;
    width:100%;
    text-align: center;
}
.btn{
    transition: all .1s
}
.btn:hover{
    transform: scale(1.5,1.5)
}
form{
    display: inline;
}
/*contact end*/
/*work*/
.thumbnail{
    padding:0;
    transition: transform .5s;
}
.thumbnail:hover{
    padding:0;
    transform: scale(1.05);
    z-index: 100px;
}

/*work end*/
footer{

    width:100%;
    padding:50px;
    text-align: center;
    font-size: 20px;
    vertical-align:text-bottom;

}