.section{
    min-height:100vh;
    margin-bottom: 20px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    width:100%;
}

/*Home page area css*/
.namePlate{
    position: relative;
    height: 350px;
    margin-top:30vh;
    width:350px;
}
.portrait{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border:2px solid grey;
    overflow: hidden
}
.portrait img{
    
    width:175%;
    
    
}
.name{
    font-size: 35px;
    margin-bottom: 10px;
}
.title{
    font-size: 20px;
    margin-top: 10px;
}
.homeNav{
    position: absolute;
    font-size: 1.5em;
    list-style-type: none;
    top:120px;
    left:135px;
    margin:0;
    padding:0;
}
.homeNav li a{
     color:grey !important;
}
.hWork{
    position: absolute;
    top: 35px;
    left:-250px;
    width: 150px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 35px;
}
.hContact{
    position: absolute;
    top: 35px;
    left:200px;
    width: 150px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 35px;
}
.hAbout{
    position: absolute;
    top: 175px;
    left:-35px;
    width: 150px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 35px;
}

/*Work page css*/
#work{
    min-height:100vh;
}
.workImages{
    margin-top: 100px;
}
.carousel-indicators li{
    border-color: grey;
}
.carousel-indicators .active{
    background-color: grey;
}
.item{
    height:50vh;
}
hr{
    border-top:2px solid lightgrey;
}
.thumbnail {
    height: 300px; 
    overflow: hidden;
    
}
.thumbnail img{
    width: 150px;
}
/*About page CSS*/

.imagePortrait{
    margin:0 auto;
    margin-top: 10vh;
    height:35vh;
    width: 35vh;
    border-radius: 100%;
    border:2px solid grey;
    overflow: hidden;
}
.imagePortrait img{
    width: 175%;
}
.aboutSkills{
    margin:10px 0;
}
.skillCircleArea{
    position: relative;
    height:300px;
    width:300px;
    border-radius: 100%;
    border:2px solid grey;
}
.circleMiddle{
    position: absolute;
    height:250px;
    width:250px;
    top:25px;
    left: 25px;
    border-radius: 100%;
    border:2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px black;
}


#container {
  margin: 20px;
  width: 200px;
  height: 200px;
}
.c100 > span{
    font-size: 15px;
    line-height: 1.5;
    margin: 0 auto;
    top: 50px;
    left:80px;
    color:grey;
    
}
.c100:hover > span {
  /*width: 3.33em;*/
  line-height: 1.5;
  font-size: 15px;
  color: #307bbb;
  text-align: center;
}
.circle{
    width: 240px;
    margin:0 auto;
    padding:0;
}


/*contact page css*/
form{
    display: inline;
}
.jumbotron{
    background-color: white;
}
.contactBoard{
    margin-top: 25vh;
}


nav{
    display:none;
}
img{
    min-height: 100px;
    min-width: 50px;
    background-color: blue;
}